
  <app-header></app-header>

  Amount <input [(ngModel)]="amount">
  From <input [(ngModel)]="fromCurrency">
  To <input [(ngModel)]="toCurrency">
  <button (click)="convert()">Convert</button>
<!--<ion-content>-->
<!--  <ion-item>-->
<!--    <ion-label position="floating"></ion-label>-->
<!--    <ion-input type="number" ></ion-input>-->
<!--  </ion-item>-->

<!--  <ion-item>-->
<!--    <ion-label></ion-label>-->
<!--    <ion-select >-->
<!--      <ion-select-option value="USD">USD</ion-select-option>-->
<!--      <ion-select-option value="EUR">EUR</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-item>-->

<!--  <ion-item>-->
<!--    <ion-label></ion-label>-->
<!--    <ion-select >-->
<!--      <ion-select-option value="EUR">EUR</ion-select-option>-->
<!--      <ion-select-option value="USD">USD</ion-select-option>-->
<!--    </ion-select>-->
<!--  </ion-item>-->

<!--  <ion-button expand="full" "></ion-button>-->

<!--  <ion-item *ngIf="result !== null">-->
<!--    <ion-label>Result: {{ result | currency:toCurrency }}</ion-label>-->
<!--  </ion-item>-->

<!--  <ion-button expand="full" color="danger" (click)="logout()">Logout</ion-button>-->
<!--</ion-content>-->
